
.casilla {
    position: relative;
    color: white;
    font-size: 18px;
    text-align: center;
    border: 3px solid transparent; 
    width: 50px; 
    height: 50px;
}


.casilla.movimiento-valido {
    background-color: rgba(236, 165, 11, 0.664); 
}


.alfil {
    width: 32px;
    height: 32px;
    pointer-events: none; 
}


body {
    font-family: Arial, sans-serif;
    background-image: url('fondo.png');
}

#tablero {
    border-collapse: collapse;
    margin: 20px auto;
}

#tablero td {
    padding: 0;
}

#tablero tr:nth-child(even) td:nth-child(odd),
#tablero tr:nth-child(odd) td:nth-child(even) {
    background-color: #ccc;
}

#lFila ,#lColumna {
    color: white;
}
